:root {
    --percent: 60%;
    --percent-greater: 80%;
    --greater-margin-bt: 4rem;
}


@media (max-width: 991px) {
    :root {
        --percent: 100%;
        --percent-greater: 100%;
        --greater-margin-bt: 4rem;
    }
}

main {
    padding: 72px 0 0;
    background-color: var(--article-bg);

    .dark & {
        background-color: var(--dark-article-bg);
    }

    & [class*="col-"] {
        position: relative;
    }

    .container article {


        color: var(--article-color);

        .dark & {
            color: var(--dark-article-color);;
        }

        a {
            color: var(--article-a-color);
            transition: 0.2s color ease-in-out;
            text-decoration: underline;

            &:hover {
                color: var(--article-a-hover-color);
            }

            .dark & {
                color: var(--dark-article-a-color);;

                &:hover {
                    color: var(--dark-article-a-hover-color);
                }
            }

        }

        h1 {
            font-family: "Playfair Display", sans-serif;
            font-weight: 600;
            font-size: 3.75rem;
            margin: 0 auto;
            max-width: var(--percent);
            text-align: center;
            letter-spacing: -1px;
            line-height: 1.33em;
            @media (max-width: 991px) {
                font-size: 2.5rem;
            }
        }

        img {
            width: var(--percent-greater);
            height: auto;
            display: block;
        }

        > img {
            margin: var(--greater-margin-bt) auto;
        }

        > div {
            width: var(--percent);
            margin: auto;
        }

        p {
            font-size: 1.1rem;
            line-height: 2em;
            margin-bottom: 1.5em;
            @media (max-width: 991px) {
                font-size: 1rem;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }

        cite {
            margin: var(--greater-margin-bt) auto;
            display: block;
            width: var(--percent-greater);
            text-align: center;
            font-size: 2.5rem;
            line-height: 1.5em;
            font-family: "Playfair Display", sans-serif;
            @media (max-width: 991px) {
                font-size: 1.5rem;
            }
        }

        .after_head {
            text-align: center;
            position: relative;
            z-index: 1;
            margin: var(--greater-margin-bt) auto;

            span {
                position: relative;
                z-index: 3;
                padding: 0 50px;
                background-color: var(--article-bg);
                font-style: italic;

                .dark & {
                    background-color: var(--dark-article-bg);
                }
            }

            &:after {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 1px;
                background: #e1e8ed;
                z-index: 2;
                top: 0;
                bottom: 0;
                display: block;
                margin: auto;
            }

            .dark &:after {
                background: #e1e8ed30;
            }
        }
    }

    .container .article-end {

        max-width: var(--percent);
        margin: 50px auto 0;
        border-top: 1px solid #e1e8ed;
        padding-top: 30px;

        color: var(--article-color);

        .dark & {
            color: var(--dark-article-color);
            border-top: 1px solid #e1e8ed30;
        }

        .similar img {
            width: 100%;
            height: auto;
        }

        .similar .owl-carousel {
            position: relative;
            z-index: 5;
        }

        .similar .owl-nav {
            display: block;
        }

        .similar .owl-prev, .similar .owl-next {
            position: absolute;
            display: block;
            margin: auto;
            top: 0;
            bottom: 0;
            height: 20px;
            width: 64px;
            z-index: 5;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjY0cHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDY0IDIwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA2NCAyMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gcG9pbnRzPSI5LjEsMCAxMC42LDEuNSAzLjQsOSA2NCw5IDY0LDExIDMuNCwxMSAxMC43LDE4LjUgOS4xLDIwIDAsMTAuNyAwLDkuMyAiIHN0eWxlPSJmaWxsOiMyOTJmMzMiLz4NCjwvc3ZnPg==);
            background-repeat: no-repeat;
            transition: transform 0.2s ease-in-out;
            transform: translateX(-20px);

            .dark & {
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjY0cHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDY0IDIwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA2NCAyMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gcG9pbnRzPSI5LjEsMCAxMC42LDEuNSAzLjQsOSA2NCw5IDY0LDExIDMuNCwxMSAxMC43LDE4LjUgOS4xLDIwIDAsMTAuNyAwLDkuMyAiIHN0eWxlPSJmaWxsOiNmZmZmZmYiLz4NCjwvc3ZnPg==);
            }

            & span {
                display: none;
            }
        }

        .similar .owl-prev {
            &:hover {
                transform: translateX(-30px);
            }
        }

        .similar .owl-next {
            right: 0;
            transform: translateX(20px) rotate(180deg);

            &:hover {
                transform: translateX(30px) rotate(180deg);
            }
        }

        h3 {
            font-family: "Playfair Display", sans-serif;
            font-size: 1.5rem;
            line-height: 2em;
            margin: 25px 0;
        }

        p {
            font-size: 1.1rem;
            line-height: 2em;
        }

        .author {

            margin-top: 50px;

            .image-wrapper {
                width: 80px;
                height: 80px;
                overflow: hidden;
                border-radius: 300px;

                img {
                    height: 100%;
                    position: relative;
                    left: -20%;
                }
            }

            .about {

                ul {
                    margin-top: 10px;
                    position: relative;
                    left: -15px;
                }

                ul li {
                    display: inline-block;
                    padding: 0 15px;
                }

                li a {
                    color: var(--footer-color);
                    transition: 0.2s color linear;

                    .dark & {
                        color: var(--dark-footer-color)
                    }

                    &:hover {
                        color: var(--footer-color-hover);
                    }

                    .dark &:hover {
                        color: var(--dark-footer-color-hover)
                    }

                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
