@media (min-width: 1200px) {
    :root {
        --fs: 15px;
    }
}

@import "skins/default", "skins/dark", "header", "footer";

body, html, a {
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs);
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
