:root {
    --dark-text-color: #fff;
    --dark-hover-color: #ffeb32;

    --dark-header-bg: #333;
    --dark-header-input-bg: #66757f;
    --dark-header-color: var(--dark-text-color);
    --dark-header-color-hover: var(--dark-hover-color);

    --dark-main-bg: #292f33;

    --dark-footer-color: #66757f;
    --dark-footer-color-hover: #7a8d99;

}
