@import "~highlight.js/styles/github.css";

label:empty {
    display: none;
}

:root {
    --main-padding: 40px;
}

@media (max-width: 991px) {
    :root {
        --main-padding: 10px;
    }
}

.dashboard-placeholder {
    min-height: 1px;
}
